ENVIRONMENT="prod"
SECRET_KEY=
FRONTEND_URL="http://localhost:8002"

DATABASE_URL="postgresql+asyncpg://retail-portfolio-user:password@localhost:5432/retail-portfolio"
ECHO_SQL=false

CORS_ALLOW_ORIGINS="http://localhost:8002"
CORS_ALLOW_METHODS="*"
CORS_ALLOW_HEADERS="*"

# API keys
EODHD_API_KEY="demo"
AI_API_ENDPOINT="https://ai.havek.es/api"
AI_API_KEY=""
AI_API_MODEL=""

# Redis
REDIS_URL="redis://redis:6379/0"

# Email
SMTP_HOST="mailcrab"
SMTP_PORT=1025
SMTP_USE_TLS=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER_EMAIL=
EMAIL_VERIFICATION_TOKEN_EXPIRY_HOURS=24
